# الأساسيات وواجهة المستخدم
streamlit>=1.31.1
Pillow
pandas>=2.2.1
numpy

# قاعدة البيانات والتخزين (Firebase)
firebase-admin>=6.4.0
google-cloud-storage
grpcio

# الذكاء الاصطناعي (Gemini)
google-generativeai

# الحماية والأدوات الإضافية
python-dotenv>=1.0.1
pycryptodome>=3.20.0
honeybadger>=0.14.0
streamlit-js-eval
pytz

# السطر المنقذ من الشاشة السوداء (هام جداً)
protobuf==3.20.3
